<div class="row">
  <div class="col-12">
    <h3>String Encoder</h3>
    <div class="form-group">
      <textarea class="form-control" rows="10" [(ngModel)]="text"></textarea>
    </div>
    <table>
      <tbody>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="encodeURL()">Encode</button>
          </td>
          <td class="text-center">URL</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="decodeURL()">Decode</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="encodeBase64()">Encode</button>
          </td>
          <td class="text-center">Base 64</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="decodeBase64()">Decode</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="encodeHex()">Encode</button>
          </td>
          <td class="text-center">Hex</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="decodeHex()">Decode</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" (click)="encodeQuote()">Encode</button>
          </td>
          <td class="text-center">Quote</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="decodeQuote()">Decode</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
